<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error - GitHub Login</title>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
</head>
<body>
    <header>
        <h1 class="header-title">Error - GitHub Login</h1>
    </header>
    <main>
        <!-- Error Message Container -->
        <div class="error-container">
            <div class="error-card">
                <h1 class="error-title">Oops! Something went wrong.</h1>
                <p class="error-info">{{ message }}</p>
            </div>
        </div>
        <!-- Back to Home Button -->
        <div class="error-button-container">
            <a href="{{ url_for('home') }}" class="github-button">
                <img src="{{ url_for('static', filename='images/github-icon.png') }}" alt="GitHub Icon" class="github-icon">
                Back to Home
            </a>
        </div>
    </main>
</body>
</html>
